<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "card-img-top" %>
      <% else %>
        <img class="card-img-top" src="<%= gravatar_url(@user) %>" alt="">
      <% end %>
      <div class="card-block">
        <h4 class="card-title"><%= link_to @user.name, edit_user_path(@user) %></h4>
        <p class="card-text"> 右投げ</p>
        <p class="card-text">プロフィール文章を記載します。</p>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link  <%= 'active' if current_page?(user_path(@user)) %>">投稿一覧</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロワー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入り投稿</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入りボール</a></li>
    </ul>
  </div>
</div>